annoy 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
attrs 
backcall 
beautifulsoup4 
bleach 
certifi 
cffi 
charset-normalizer
cycler
debugpy 
decorator 
defusedxml 
entrypoints 
executing 
fasteners 
fastjsonschema 
fonttools
h5py 
idna
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isodate
jedi 
Jinja2 
joblib
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyterlab-pygments 
jupyterlab-widgets 
kiwisolver
lz4 
MarkupSafe 
matplotlib
matplotlib-inline 
mistune 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
numpy 
om @ git+https://github.com/guihcs/omatch.git
packaging 
pandas
pandocfilters 
parso 
pexpect 
pickleshare 
Pillow
prometheus-client 
prompt-toolkit 
ptyprocess 
pure-eval 
pycparser 
Pygments 
pymagnitude
pyparsing 
pyrsistent 
python-dateutil 
pytz
pyzmq 
qtconsole 
QtPy 
rdflib
requests
scikit-learn
scipy
Send2Trash 
sip
six 
sklearn
soupsieve 
stack-data 
termcolor
terminado 
testpath 
threadpoolctl
torch 
torchaudio
torchvision
tornado 
tqdm
traitlets 
typing_extensions 
urllib3
wcwidth 
webencodings
widgetsnbextension 
xxhash